.dropdown-menu {
  max-width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ede8e6;
  list-style: none;
  margin: 4px;
  border: 1px solid #ccc;
  z-index: 1000;

  li {
    padding: 0.5rem 1rem;
    margin-bottom: 2px;
    // white-space: nowrap;

    a {
      text-decoration: none;
      background-color: white;
      color: #ff671d;

      &:hover {
        background-color: #ff671d;
        color: white;
      }
    }
  }
}
