@use './../../../assets/variables' as *;
@use './../../../assets/fonts' as *;

.input-wrapper {
  display: flex;
  flex-direction: column;
  //   margin-bottom: 1rem;

  label {
    margin-bottom: $space8;
    font-weight: $semi;
  }

  input,
  select {
    padding: $space8;
    font-size: $fontSize16;
    border: 1px solid #ccc;
    border-radius: $radius4;
    margin-bottom: $space8;

    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }

  .radio-group {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: $space4;
      font-weight: normal;
    }
  }

  .error-message {
    color: red;
    font-size: $fontSize12;
    margin-top: -$space4;
    margin-bottom: $space8;
  }
}
