@use './../../../assets/variables' as *;
@use './../../../assets/fonts' as *;

.input-wrapper {
  display: flex;
  flex-direction: column;
  //   margin-bottom: 1rem;

  label {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  input,
  select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    transition: border-radius 0.3s ease;

    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }

  .radio-group {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.25rem;
      font-weight: normal;
    }
  }

  .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: -0.25rem;
    margin-bottom: 0.5rem;
  }
}
