@use './../../../../assets/variables' as *;
@use './../../../../assets/fonts' as *;
@use './../../../../assets/theme' as *;
@use './../../../../assets/media' as *;
.footerDiv {
  // background-color: #0C51A1 !important;
  color: #fff;
  padding-top: $space24;
  padding-bottom: $space24;

  .footer-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: $space0 $space20;

    .footer-columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .column1 {
        width: 245px;
        margin: $space12;

        .footer-everi-address {
          margin-top: $space12;
          font-size: $fontSize16;
          line-height: 1.5;
          p {
            margin: $space4 $space0;
          }
        }
      }
      .column2 {
        width: 750px;
        margin: $space12;

        .menu-footer {
          display: flex;
          margin-bottom: $space0;
          margin-left: -$space16;
          margin-right: -$space16;
          list-style: none;
          .nav-menu1 {
            margin-bottom: $space28;
            padding: $space0 $space16;
            width: 165px;
            flex-grow: 1;
            flex-shrink: 1;

            .nav-menu1-column1-container {
              padding-top: $space24;
              ul {
                list-style: none;
                margin: $space0;
                padding: $space0;
                li {
                  line-height: $space28;
                  margin-bottom: $space4;
                  a{
                    color: #fff;
                    text-decoration: none;
                  }
                }
              }
            }
          }
          .nav-menu2 {
            margin-bottom: $space28;
            padding: $space0 $space16;
            width: 165px;
            flex-grow: 1;
            flex-shrink: 1;

            h2 {
              // font-family: 'Verlag A', 'Verlag B', sans-serif;
              font-size: $fontSize20;
              font-weight: $strong;
              margin-bottom: $space8;
              color: #fff;
            }
            .nav-menu2-column2-container {
              padding-top: $space24;
              ul {
                list-style: none;
                margin: $space0;
                padding: $space0;
                li {
                  line-height: $space28;
                  margin-bottom: $space4;
                  a{
                    color: #fff;
                    text-decoration: none;
                  }
                }
              }
            }
          }

          .nav-menu3 {
            margin-bottom: $space28;
            padding: $space0 $space16;
            width: 165px;
            flex-grow: 1;
            flex-shrink: 1;

            h2 {
              // font-family: 'Verlag A', 'Verlag B', sans-serif;
              font-size: $fontSize20;
              font-weight: $strong;
              margin-bottom: $space8;
              color: #fff;
            }
            .nav-menu3-column3-container {
              padding-top: $space24;
              ul {
                list-style: none;
                margin: $space0;
                padding: $space0;
                li {
                  line-height: $space28;
                  margin-bottom: $space4;
                  a{
                    color: #fff;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
      .column3 {
        width: 240px;
        margin: $space12;

        a {
          display: inline-block;
          width: $width24;
          margin: $space0 $space12;

          svg {
            color: #fff;
            transition: all 0.2s;
          }
          span {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 343px) and (max-width: 950px) {

    .column2 {
        .menu-footer {
            display: flex;
            flex-direction: column;

            .nav-menu1, .nav-menu2, .nav-menu3 {
                width: auto !important;
                padding: $space12 $space0;
            }
        }
    }
}