@use 'variables' as *;
:root {
  --sideMargin: 0px;
  --middleMargin: 0px;
  .flex-container{
    display: flex;
    flex-direction: row;
  }
}

//mobile - iphone 13 mini
@media (min-width: 343px) and (max-width: 400px) {
:root {
  --sideMargin: 16px;
  --middleMargin: 0px;
  .flex-container{
    display: flex;
    flex-direction: column;
  }
  .article-image{
    max-width: 350px;
  }
  .reverse-posn{
    flex-direction: column-reverse;    
}
.carousel-img{
  width: 100%;
}
}
}
//tablet - ipad pro 11 inch
@media (min-width: 720px) and (max-width: 768px) {
  :root {
    --sideMargin: 48px;
    --middleMargin: 0px;
  }
}
//desktop - macbook air 13 inch
@media (min-width: 1240px) and (max-width: 1540px) {
    :root {
    --sideMargin: 200px;
    --middleMargin: 16px;
      .flex-container{
        display: flex;
        flex-direction: row;
      }
      .reverse-posn{
        flex-direction: row-reverse;    
      }
      .carousel-img{
        width: 1500px;
      }
    }
  }

