// color-variables

$black: #000000;
$blackFade: #000000cc;
$gradientDark: linear-gradient(180deg, #313131 0%, #000000 80.08%);
$inkGray: #212121;
$midnightGray: #5b5e60;
$shuttleGray: #57606c;
$steelGray: #a1a1a1;
$pearlGray: #d8d8d8;
$mysticGray: #e4e8ee;
$fogWhite: #f5f5f7;
$whiteFade: #ffffffcc;
$white: #ffffff;
$gradientLight: linear-gradient(180deg, #f7f7f7 0%, #ffffff 100%);
$seaBlue: #0048c7;
$skyBlue: #428cf4;
$irisBlue: #00a7cd;
$glacierBlue: #2ec5e7;
$mossGreen: #003d11;
$grassGreen: #007f14;
$emeraldGreen: #32c958;
$jungleGreen: #00b98c;
$turtleGreen: #09d5a4;
$mintGreen: #ddffe9;
$roseRed: #610015;
$candyRed: #d60000;
$coralPink: #ff6262;
$salmonPink: #ffe5e9;
$fruityOrange: #ed7113;
$sunflowerYellow: #ffa618;

// height-variables

$height4: 4px;
$height8: 8px;
$height12: 12px;
$height16: 16px;
$height20: 20px;
$height24: 24px;
$height28: 28px;
$height32: 32px;
$height36: 36px;
$height40: 40px;
$height44: 44px;
$height48: 48px;
$height52: 52px;
$height56: 56px;
$height60: 60px;
$height64: 64px;
$height68: 68px;
$height72: 72px;
$height76: 76px;
$height80: 80px;
$height104: 104px;
$height112: 112px;
$height128: 128px;
$height140: 140px;
$height152: 152px;
$height168: 168px;
$height192: 192px;
$height200: 200px;
$height240: 240px;
$height276: 276px;
$height308: 308px;
$height352: 352px;
$height400: 400px;

// width-variables

$width4: 4px;
$width8: 8px;
$width12: 12px;
$width16: 16px;
$width20: 20px;
$width24: 24px;
$width28: 28px;
$width32: 32px;
$width36: 36px;
$width40: 40px;
$width44: 44px;
$width48: 48px;
$width52: 52px;
$width56: 56px;
$width60: 60px;
$width64: 64px;
$width68: 68px;
$width72: 72px;
$width76: 76px;
$width80: 80px;
$width104: 104px;
$width112: 112px;
$width128: 128px;
$width140: 140px;
$width152: 152px;
$width168: 168px;
$width192: 192px;
$width200: 200px;
$width240: 240px;
$width276: 276px;
$width300: 300px;
$width308: 308px;
$width322: 322px;
$width352: 352px;
$width400: 400px;
$width412: 412px;
$width522: 522px;

// percentage-width-variables

$pwidth20: 10%;
$pwidth20: 20%;
$pwidth25: 25%;
$pwidth30: 30%;
$pwidth33: 33.33%;
$pwidth40: 40%;
$pwidth50: 50%;
$pwidth60: 60%;
$pwidth66: 66.66%;
$pwidth70: 70%;
$pwidth75: 75%;
$pwidth80: 80%;
$pwidth90: 90%;
$pwidth100: 100%;
$fullWidth: 100%;
// space-variables

$space0: 0px;
$space4: 4px;
$space8: 8px;
$space12: 12px;
$space16: 16px;
$space20: 20px;
$space24: 24px;
$space28: 28px;
$space32: 32px;
$space48: 48px;
$space64: 64px;
$space96: 96px;

// border-variables

$border1: 1px;

// radius-variables

$radius0: 0px;
$radius4: 4px;
$radius8: 8px;
$radius16: 16px;
$radius20: 20px;
$radiusRound: 100%;
