// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
@use 'assets/variables' as *;
@use 'assets/fonts' as *;
@use './assets/typography.scss' as *;
@use './assets/elevation.scss' as *;
@use './assets/media.scss' as *;
@use './assets/theme.scss' as *;
@use './assets/screenbackground.scss' as *;
@import url('./assets/_media.scss');

:root {
  --bg-color: #f9f9f9;
  --text-color: #333;
  --input-radius: 4px;
  --border-radius: 4px;
  --border: 1px solid rgb(59, 217, 88);
  --fontFamily: #{$fontFamily};
  --buttonRadius: #{$radius4};
  --buttonRadius8: #{$radius8};
  --buttonBackgroundColor: #0078d4;
  --buttonLabelTextType: capitalize;
  --seaBlue: #0048c7;
  --jungleGreen: #00b98c;
  --fruityOrange: #ed7113;
  --radius0: 0px;
  --radius4: 4px;
  --radius8: 8px;
  --radius12: 12px;
  --radius16: 16px;
  --radius20: 20px;
  --radiusRound: 100%;
  --uppercase: uppercase;
  --lowercase: lowercase;
  --capitalize: capitalize;
}

.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: #f1f1f1;
  --input-radius: 12px;
  --border-radius: 0px;
  --border: 1px solid red;
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: $space0;
  padding: $space0;
  border: $radius0;
  outline: $radius0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: var(--fontFamily);
}
.beonButton {
  background-color: var(--buttonBackgroundColor);
  border-radius: var(--buttonRadius);
  text-transform: var(--buttonLabelTextType);
}
.submit-button {
        width: fit-content;
        align-self: center;
        padding: $space12;
        margin-top: $space12;
        font-size: $fontSize16;
        font-weight: $default;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #005fa3;
        }

        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
.headerDiv {
  min-height: $height152;
  background-color: $seaBlue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

// .headerDiv{
//     min-height: $height80;
//     background-color: $seaBlue;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     z-index: 1;
// }

.footerDiv {
  min-height: $height200;
  background-color: $seaBlue;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
