<div class="beon-container">
  <div class="beon-content">
    <div class="beon-header">
        <h3>Theme Configuration</h3>
    </div>
    <div class="form-container">
        <form [formGroup]="beonForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <form [formGroup]="fontForm">
              <app-dynamic-input
                label="Font Style"
                type="text"
                placeholder="Font Style"
                [formControl]="fontStyleControl"
              ></app-dynamic-input>
            </form>
        </div>
        <div class="form-input">
            <form [formGroup]="beonButton">
              <app-dynamic-input
                label="Button Corner Radius"
                type="select"
                placeholder="Button Corner Radius"
                [options]="[
                  { label: 'Radius0', value: '--radius0' },
                  { label: 'Radius4', value: '--radius4' },
                  { label: 'Radius8', value: '--radius8' },
                  { label: 'Radius12', value: '--radius12' },
                  { label: 'Radius16', value: '--radius16' },
                  { label: 'Radius20', value: '--radius20' },
                  { label: 'RadiusRound', value: '--radiusRound' }
                ]"
                [formControl]="buttonRadiusControl"
              ></app-dynamic-input>
              <app-dynamic-input
              type="radio"
              label="Button Label Text Type"
              [options]="[
                { label: 'Uppercase', value: '--uppercase' },
                { label: 'Lowercase', value: '--lowercase' },
                { label: 'Capitalize', value: '--capitalize' }]"
              [formControl]="buttonLabelTextTypeControl"
              >
              </app-dynamic-input>
              <app-dynamic-input
                type="radio"
                label="Button Label Color"
                [options]="[
                  { label: 'Sea Blue', value: '--seaBlue' },
                  { label: 'Jungle Green', value: '--jungleGreen' },
                  { label: 'Fruity Orange', value: '--fruityOrange' }]"
                [formControl]="buttonLabelColorControl"
               >
              </app-dynamic-input>
            </form>
        </div>
        <!-- <div class="form-input">
          
        </div>
        <div class="form-input">
          
        </div> -->
        <button type="submit" class="submit-button beonButton">save</button>
        </form>
    </div>
  </div>
</div>